body{
    font-family: Montserrat;
}
nav{
    background-color: rgb(51, 51, 235);
}
img{
    width: 12rem;
}
.cart{
    display: flex;
    padding: .2rem;
    gap: 1rem;
}
table{
    flex: 3;
}
.check{
    flex: 1;
    border: 1px solid grey;
    height: 10rem;
    padding: .5rem;
}
table tr{
    border-bottom: 1px solid grey;
}
button{
    background-color: rgb(51, 51, 235);
    color: white;
    border: none;
    padding: .5rem;
    border-radius: 1rem;
}
@media(max-width: 768px){
    .cart{
        flex-direction: column;
    }
    img{
        width: 5rem;
    }
    input{
        width: 5rem;
    }
    .check{
        position: fixed;
        bottom: 1%;
        width: 96%;
        background-color: white;
    }
}